<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="Add Task" [(ngModel)]="text" />
    </div>
    <div class="form-control">
        <label for="dayTime">Task</label>
        <input type="text" name="dayTime" id="dayTime" placeholder="Date and Time" [(ngModel)]="dayTime" />
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Task</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
</form>